---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact" description="Contact Veerakran Sereerungruangkul.">
  <h1>Contact</h1>
  <p>
    Email: <a href="mailto:veerakran.s@gmail.com">veerakran.s@gmail.com</a>
  </p>
  <p>
    LinkedIn: <a href="https://linkedin.com/in/veerakran-s">linkedin.com/in/veerakran-s</a>
  </p>
</BaseLayout>
